@using Win.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">
        <i class="glyphicon glyphicon-list-alt pull-left"></i> Feed</a></li>
    <li class="@ManageNavPages.PerfilNavClass(ViewContext)"><a asp-action="Perfil"> 
        <i class="glyphicon glyphicon-user pull-left"></i> Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">
                                                                        <i class="glyphicon glyphicon-lock pull-left"></i>Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-action="ExternalLogins">External logins</a></li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-action="TwoFactorAuthentication"> 
                                                                                 <i class="glyphicon glyphicon-random pull-left"></i>Two-factor authentication</a></li>
</ul>

