@using Microsoft.AspNetCore.Identity

@model Win.ViewModels.FeedViewModel

<div class="col-md-3">
    <div class="panel panel-default text-center">
        <div class="panel-body">
            <img src="https://png.icons8.com/ios/50/000000/user-male-circle-filled.png" alt="Alternate Text" />
            <p>Meu Nome</p>
            <div class="row text-center text-card">
                <div class="col-md-4">
                    <small>Posts</small>
                    <h3>@Model.QuantidadePosts</h3>
                </div>
                <div class="col-md-4 card-meio">
                    <small>Seguidores</small>
                    <h3>@Model.QuantidadeSeguidores</h3>
                </div>
                <div class="col-md-4">
                    <small>Seguindo</small>
                    <h3>@Model.QuantidadeSeguindo</h3>
                </div>
            </div>

        </div>
    </div>
</div>

<span class="hidden" id="limit">@ViewBag.limit</span>
<span class="hidden" id="offset">0</span>
<div class="col-md-9 conteudo" >

    <div class="form-group">
        <input type="text" data-toggle="modal" data-target="#myModal" class="form-control botao" placeholder="O que você estar pensando?">
    </div><!-- /input-group -->


    <div class="body-feed">
      <ul class="list-group list-group-dividered list-group-full" id="conteudo">
    @foreach (var item in Model.Posts)
    {


            <li class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        <a class="avatar avatar-online" href="javascript:void(0)">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                            <i></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <small class="text-muted pull-right">@item.DataPublicacao</small>
                        <h4 class="media-heading">@item.applicationUser.UserName</h4>
                        <div class="div-imagemPost">
                            @Html.Raw(item.Texto)
                            @if(item.Imagem != null)
                            {

                                <img class="img-responsive img-post"  src="~/uploads/imagens/posts/@item.Imagem" />

                            }
                        </div>
                        <div class="col-md-12" id="botoesPost" style="margin-top: 20px;">
                            <div class="col-md-4 col-xs-4"><a class="comentar" data-postId="@item.Id" href="#"><i class="far fa-comment-dots"></i> <span id="quantidadeComentario-@item.Id" class="badge">@(item.QuantidadeComentario.ToString() != "0" ? item.QuantidadeComentario.ToString() : "")</span> </a></div>
                            <div class="col-md-4 col-xs-4">
                                <a class="curtir" data-postId="@item.Id" href="#">
                                    <i class="fas fa-heart"></i>
                                    <span class="badge quantidadecurtir-@item.Id" id="">@(item.QuantidadeCurtida.ToString() != "0" ? item.QuantidadeCurtida.ToString() : "")</span>
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-4"><a class="compartilhar" data-postId="@item.Id" href="#"><i class="fas fa-share-square"></i> </a></div>
                        </div>
                    </div>
                    <div id="comentarios-@item.Id">

                    </div>
                </div>
                <hr />
            </li>
    }
        </ul>
    </div>
</div>



<!-- Modal Criar Post-->
<form method="Post" enctype="multipart/form-data" id="posst-form" asp-action="Postar" asp-controller="Home">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

                <div class="modal-body">

                    <div class="form-group">
                        <textarea class="form-control ckeditor" asp-for="SendPost.Texto" style="resize: none" rows="7" id="texto" placeholder="O que Você esta pensando?" onfocus="onfocus"></textarea>
                        <input type="hidden" id="imagemSelecionada" asp-for="SendPost.Imagem" />
                    </div>

                </div>
            <div class="modal-footer modalFooter" >
                <button type="submit" id="enviar" class="btn btn-primary ladda-button pull-right btn-sm" data-style="zoom-in"><span class="ladda-label">Postar</span></button>
                <ul class="nav nav-pills">

                    <li>

                        <a href="#"><i class="fa fa-map-marker"></i></a>

                    </li>

                    <li>
                        <a href="#">

                            <label for="file">
                                <i class="fa fa-camera"></i>
                            </label>
                        </a>
                            <input type="file"  id="file" name="file" />

                    </li>

                    <li>

                        <a href="#"><i class=" fa fa-film"></i></a>

                    </li>

                    <li>

                        <a href="#"><i class="fa fa-microphone"></i></a>

                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
</form>
<!-- Modal Visualizar Post -->
<div class="modal fade" id="VisualizarPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="modal-body-visualizar-post">
                

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/feed.js"></script>

}


